<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Image To Text Thai identity card</title>
    <style>
      body {
        content: "By boadzie Daniel";
        margin: 0;
        min-height: 100vh;

        background-color: #ffffff;
        background-image: url("https://cdn.pixabay.com/photo/2014/03/23/09/38/swan-293157_960_720.jpg");


        font-family: "Montserrat", sans-serif;
        font-weight: 700px;
        display: flex;
        align-items: center;
        justify-content: center; 
      }
    #div1 {
      border:solid 1px black;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    
    }
    #div2 {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
        
}
    </style>
  </head>
  <body>
    <section class="container text-gray-500 mx-auto px-4 py-4 flex flex-col">
      <div>
        <h3 class="text-4xl font-bold lg:text-center">สแกนบัตรประจำตัวประชาชน</h3>
        <p class="mt-2 italic text-2xl text-left lg:text-center font-semibold">
          *ควรวางบัตรในแนวระนาบกับพื้น และพื้นหลังของบัตรควรมีสีที่แตกต่างจากบัตร เช่นสีดำ.
        </p>
       
       


      </div>
      <form method="post" action="/extract_text" enctype="multipart/form-data">
        <div
          class="flex w-full h-40 items-center justify-center bg-grey-lighter"
        >
          <label
            class="w-64 flex flex-col items-center px-4 py-4 bg-green-600 text-white rounded-lg shadow-lg tracking-wide uppercase border border-blue cursorpointer hover:bg-blue hover:text-white"
          >
            <svg
              class="w-8 h-8"
              fill="#fff"
              xmlns="http://www.w3.org/2000/svg"
20"
            >
              <path
                d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5
0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17
8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
              />
            </svg>
            <span class="mt-2 text-base leading-normal">เลือกรูปภาพ</span>
            <input type="file" name="upload_file" class="hidden" />
          </label>
        </div>
        <div class="lg:text-center flex w-full h-20 items-center justify-center bg-grey-lighter">
          <input
            class="text-align: center; text-center w-30 text-white bg-blue-500 hover:bg-blue-400 border-0 py-1 px-2 focus:outline-none hover:bg-red-600 rounded text-lg lg:text-center"
            type="submit"
            value="แสดงข้อมูลจากการ OCR"
          />
        </div>
      </form>
      {% if label %}
      <div
        class="w-90% mr-auto ml-auto rounded-lg mt-4 bg-gray-600 text-gray py-4 px-4"
      >
        <br>
        <center><img src="{{cropped_img}}" alt="centered image" height="400" width="500"> </center>
        <br>
        <div style="background-color:white;"  >




         <p id='div2' style="font-size:30px">ข้อมูลจากบัตรประจำตัวประชาชน</p> 
    
         <div id='div1'>
         <div ><p class="text-lg">เลขบัตรประจำตัวประชาชน</p></div>
         <div ><p class="text-lg">{{label['เลขบัตรประจำตัวประชาชน']}} </p> </div>
          </div>

        <div id='div1'>
        <div ><p class="text-lg">ชื่อภาษาไทย</p></div>
        <div ><p class="text-lg">{{label['ชื่อภาษาไทย']}} </p></div>
        </div>

        <div id='div1'>
        <div ><p class="text-lg">ชื่อภาษาอังกฤษ</p></div>
        <div ><p class="text-lg">{{label['ชื่อภาษาอังกฤษ']}} </p></div>
        </div>

        <div id='div1'>
        <div ><p class="text-lg">นามสกุลภาษาอังกฤษ</p></div>
        <div ><p class="text-lg">{{label['นามสกุลภาษาอังกฤษ']}} </p></div>
        </div>

        <div id='div1'>
        <div ><p class="text-lg">วันเกิดไทย</p></div>
        <div ><p class="text-lg">{{label['วันเกิดไทย']}} </p></div>
        </div>

        <div id='div1'>
        <div ><p class="text-lg">วันเกิดอังกฤษ</p></div>
        <div ><p class="text-lg">{{label['วันเกิดอังกฤษ']}} </p></div>
        </div>

        <div id='div1'>
        <div ><p class="text-lg">ศาสนา</p></div>
        <div ><p class="text-lg">{{label['ศาสนา']}} </p></div>
        </div>

        <div id='div1'>
        <div ><p class="text-lg">ที่อยู่</p></div>
        <div ><p class="text-lg">{{label['address']}} </p></div>
        </div>

        </div>
        <br><br>
    
           
      </div>
    
      {% endif %}
    </section>
  </body>
</html>